version: '3'
services:
  db:
    image: postgres:16
    volumes:
      - ./tmp/db:/var/lib/postgresql/data 
    command:
      "postgres -c 'max_connections=500'"
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
    ports:
      - "5433:5432"
  web:
    build: 
      context: . 
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    entrypoint: ./bin/docker-entrypoint.sh
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://filipe:1234@db:5432/EMBARCA_SOUTHERN_CITIES