#page-cities {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dashboard {
  width: 50%;
  margin-top: 10px;
}

#top {
  background-color: rgb(45, 45, 45);
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#container-logo {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 20px;
}

#container-logo img {
  border-radius: 8px;
  height: 5vw;
  width: 8vw;
}

#test-subtitle {
  width: fit-content;
  font-size: 1vw;
  color: rgb(225, 255, 0);
}

#middle h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 20px;
}

#container-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  margin: 10px 0;
}

#container-form form{
  display: flex;
  flex-direction: row;
}

#container-state-label-field{
  width: fit-content;
  margin-right: 10px;
}

#container-city-label-field{
  width: fit-content;
  margin-right: 10px;
}

#container-form label {
  color: rgb(255, 255, 255);
  margin-bottom: 0.5em;
  flex: 1;
}

#container-form input,
#container-form select {
  flex: 1;
  height: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 0.5em;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

#container-form input:focus,
#container-form select:focus {
  border-color: rgb(225, 255, 0);
  box-shadow: 0 2px 6px rgba(0, 123, 255, 0.2);
  outline: none;
}

#container-form select {
  appearance: none;
  background-size: 1em;
}

button {
  background-color: rgb(225, 255, 0);
  border: 2px solid rgb(225, 255, 0);
  font-weight: bold;
  color: #000;
  border-radius: 8px;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: rgb(45, 45, 45);
  color: rgb(225, 255, 0);
  border: 2px solid rgb(225, 255, 0);
}

.button-container {
  margin-top: 1em;
}

.table-wrapper {
  max-height: 400px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  border: 2px solid rgb(225, 255, 0);
  overflow: hidden;
}

.city-table {
  width: 100%;
  border-spacing: 0;
  background-color: rgb(50, 50, 50);
  color: #fff;
  border-collapse: collapse;
}

.city-table thead th {
  background-color: rgb(225, 255, 0);
  color: rgb(50, 50, 50);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px;
}

.city-table tbody td {
  padding: 12px;
  vertical-align: top;
  text-align: center;
}

.city-table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-radius: 12px 12px 0 0;
}

.city-table tbody {
  display: block;
  max-height: 200px;
  overflow-y: auto;
}

.city-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.city-table tbody tr:nth-child(even) {
  background-color: rgb(45, 45, 45);
}

.city-table th:first-child,
.city-table td:first-child {
  border-left: none;
}

.city-table th:last-child,
.city-table td:last-child {
  border-right: none;
}
